.fixedHeader{
  position: sticky;
  top: 0;
}

.topRight{
  position: absolute;
  top: 8px;
  right: 16px;
}

.navbar .navbar-nav>li>a, .navbar .navbar-nav>li>a:hover {
  color: #651654 !important;
}

.homeBuddy{
  background-color: #651654;
}